:root {
  --have-not-have-margin: 25%;
}

.full-info-box {
  width: 100%;
  border: 1px solid #f9f1f1;
  background: #fffaf1;

  color: #826767;
  font-size: 0.75em;
  font-weight: bold;
}

.full-info-box > .demo-controls {
  font-weight: normal;
  margin-bottom: 20px;
}

.full-info-box > .final-stats {
  font-weight: normal;
  margin-top: 20px;
}

.top-bar {
  border-bottom: 1px solid black;
  margin-left: var(--have-not-have-margin);
  margin-right: var(--have-not-have-margin);
}

.have-not-have {
  margin-left: var(--have-not-have-margin);
  margin-right: var(--have-not-have-margin);
}

.left {
  float: left;
}

.right {
  float: right;
}

.outcomes-block {
  width: 100%;
}

.outcomes-block td {
  width: 25%;
  vertical-align: top;
}

.right > .readout {
  margin-right: -100%;
  text-align: center;
}

.left > .readout {
  margin-left: -100%;
  text-align: center;
}

.readout {
  position: relative;
}

.readout > .label {
  position: absolute;
  top: -1em;
  left: 1.25em;
}

.right > .vertical-bar {
  float: right;
}

.clear {
  clear: both;
}

.pop-readout > span {
  vertical-align: middle;
}

.pop-num {
  height: 30px;
  vertical-align: top;
}

.vertical-bar {
  width: 1px;
  height: 1.5em;
  background: black;
}

.infected-tree {
  width: 25%;
  border-top: 1px solid black;
  margin-left: 12.5%;
  display: inline-block;
}

.healthy-tree {
  width: 25%;
  border-top: 1px solid black;
  display: inline-block;
  margin-left: 25%;
}

.person {
  display: inline-block;
  width: 15px;
  height: 25px;
  margin: 1px;
  position: relative;
}

.person > .head {
  width: 12px;
  height: 12px;
  margin-left: auto;
  margin-right: auto;
  background: #d2d0d0;
  border-radius: 12px
}

.person > .body {
  width: 15px;
  height: 13px;
  background: #d2d0d0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.person > .left-arm-divider {
  position: absolute;
  width: 1px;
  height: 10px;
  background: #999;
  bottom: 0px;
  left: 3px;
}

.person > .right-arm-divider {
  position: absolute;
  width: 1px;
  height: 10px;
  background: #999;
  bottom: 0px;
  right: 3px;
}

.dialogue {
  list-style-type: none;
}

.dialogue > li {
  margin-bottom: 2px;
}

q {
  font-style: italic;
  color: #808080;
}
