#run-chart {
  overflow-wrap: break-word;
  line-height: 0px;

  margin-bottom: 20px;
}

.coin {
  width: 16px;
  height: 16px;
  display: inline-block;

  outline: 1px solid black;
}

.side-H {
  background-color: #cdcdf7;
}
.side-H.run {
  background: #7474c5;
}

.side-T {
  background-color: #efc3c3;
}
.side-T.run {
  background: #dc6868;
}

.run {
  transition-property: background;
  transition-duration: 4s;
  transition-delay: 2s;
}
