# .gitignore sample
# Ignore all files in this dir...
*

# ... except for this one.
!.gitignore
!blog-assets
!ice-cream
!img
!CNAME
!2021-01-26-regression-mean-vs-gambler.html
!2021-12-27-urls-as-display-data.html
!2021-01-21-false-positive-rate.html
!2014-01-01-The-Almighty-Function.html
!2013-08-15-Oh-Lisp.html
