:root {
  --primary: #225e9c;
  --accent-bg: #ededed;
  --body-color: #404040;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 1.125rem;
  color: var(--body-color);
}

hr {
  border: 1px solid var(--primary);
  height: 0px;
}

iframe {
  border: 0;
}

#static {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

pre {
  padding: 0.75em;
  background: var(--accent-bg);
  border-radius: 6px;
  white-space: pre-wrap;
}

#header {
  height: 100px;
  margin-bottom: 70px;
  background: var(--primary);
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 120px;
}

.subtext {
  color: #888;
  font-size: 0.75em;
}

.summary {
  font-size: 0.75em;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-4 {
  gap: 1rem;
}

.logo > img {
  width: 120px;
}

.entry-card {
  display: block;
  background: var(--accent-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  text-decoration: none;
  color: var(--body-color);
}

.entry-card > span {
  color: var(--primary);
}

.entry-card > .subtext {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  color: var(--primary);
}

.toc {
  position: absolute;
  right: 0px;
  transform: translateX(100%);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote {
  margin: 10px auto;
  font-family: Open Sans;
  color: #555555;
  padding: 0.75em;
  border-left: 8px solid var(--primary);
  position: relative;
  background: var(--accent-bg);
}

blockquote > p {
  margin-top: 0px;
  margin-bottom: 0px;
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/

.hljs {
  color: #24292e;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
